/*=====================================================
RESET
=====================================================*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
  overflow-x: hidden;
}
h1 { 
  font-size: 34px; 
  font-weight: 700;
  line-height: 45px;
  margin-bottom: 70px;
}
h2 { text-align: center; }
p {
  font-size: 25px;
  font-weight: 400;
  line-height: 45px;
}
::selection {
  background-color: #FFE74F;
  color: black;
}
@media( max-width: 1180px ) {
  /*=====================================================
  RESET: TABLET
  =====================================================*/
  h1 {
    font-size: 26px; 
    margin-bottom: 30px;
    line-height: 30px;
  }
  p {
    font-size: 20px; 
    line-height: 30px;
  }
}
@media( max-width: 870px ) {
  /*=====================================================
  RESET: MOBILE
  =====================================================*/
  h1 {
    font-size: 24px; 
    margin-bottom: 20px;
  }
  p {
    font-size: 16px; 
    line-height: 24px;
  }
}
@media( max-width: 580px ) {
  body {
    text-align: center;
  }
}



/*=====================================================
  UI ELEMENTS
=====================================================*/
.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 60px;
}
button {
  border-radius: 62px;
  padding: 10px 30px;
  background-color: black;
  color: white;
  border: 1px solid white;
  color: #757575;
  transition: all .3s ease-in-out;
  font-size: 25px;
  margin: 0 auto;
  display: inline-block;
}
button:hover { 
  cursor: pointer; 
  border-color: #FFE74F;
  color: white;
}
table {
  width: 100%;
  margin: 32px 0;
}
td { padding: 6px; }
@media( max-width: 1180px ) {
  /*=====================================================
  UI ELEMENTS: TABLET
  =====================================================*/
  button {
    padding: 5px 30px;
    font-size: 20px;
  }
}
@media( max-width: 580px ) {
  .container {
    padding: 30px;
  }
  button {
    width: 100%;
  }
  button:not(:last-child) {
    margin-bottom: 10px;
  }
}



/*=====================================================
  MAIN HEADER
=====================================================*/
.main-header {
  padding: 16px 0 0;
  margin-bottom: 66px;
  text-align: center;
}
.main-header img {
  max-width: 369px;
  height: auto;
}
@media( max-width: 870px ) {
  /*=====================================================
  MAIN HEADER: MOBILE
  =====================================================*/
  .main-header {
    margin-bottom: 40px;
  }
  .main-header img {
    max-width: 200px;
  }
}



/*=====================================================
  FORMS
=====================================================*/
.form {
  border: 2px solid white;
  padding: 102px 91px;
  border-radius: 54px;
  margin-bottom: 4rem;
}
.form-hero p {
  margin-bottom: 70px;
}
.form-text {
  margin-top: 70px;
  margin-bottom: 40px;
}
.field-description {
  line-height: 1.4;
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}
.form-row {
  display: flex;
  justify-content: space-between;
  column-gap: 49px;
}
.form-row .input-group {
  width: 100%;
}
.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  position: relative;
  max-width: 47%;
}
.input-group.full {
  max-width: 100%;
}
.label {
  font-size: 15px;
  line-height: 50px;
  letter-spacing: -0.7%;
  margin-bottom: .5rem;
  position: relative;
  text-transform: uppercase;
}
.label.required::after {
  content: '*';
  color: #FFE74F;
  position: absolute;
  padding-left: 6px;
  top: 5px;
  font-size: 25px;
}
.button-group {
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.button-group button {
  flex: 1;
}
input,
select,
select option,
textarea,
.form-control {
  background-color: black;
  border: 1px solid transparent;
  border-bottom: 1px solid white;
  color: white;
  font-size: 25px;
  line-height: 50px;
  font-family: inherit;
  height: 51px;
  max-width: 100%;
  transition: all .3s ease-in-out;
}
input:focus,  
select:focus,
textarea:focus,
.form-control:focus {
  padding: 0 16px;
  outline: 1px solid #FFE74F;
  outline-offset: 1px;
  border-color: transparent;
}
input::placeholder,  
select::placeholder,
textarea::placeholder,
.form-control::placeholder {
  color: #757575;
}
select:hover { cursor: pointer; }
textarea { 
  min-width: 100%; 
  min-height: 36px;
}
input[type="submit"] {
  background-color: white;
  border: 1px solid white;
  border-radius: 62px;
  padding: 20px 60px;
  width: 415px;
  color: black;
  height: unset;
  font-weight: 700;
  text-transform: uppercase;
  margin: 100px auto 0;
  transition: all .3s ease-in-out;
}
input[type="submit"]:hover {
  border-color: #FFE74F;
  background-color: #FFE74F;
  cursor: pointer;
}
.btn {
  width: 415px;
}
.form-control.invalid {
  border: 1px solid transparent;
  border-bottom: 1px solid red;
  color: pink;
}
.error-text {
  text-align: center;
  margin-top: .5rem;
  position: absolute;
  bottom: -35px;
  color: red;
  font-size: 16px;
}
.success-text {
  text-align: center;
}
@media( max-width: 1180px ) {
  /*=====================================================
  FORM: TABLET
  =====================================================*/
  .form {
    padding: 70px 60px;
  }
  .form-row {
    column-gap: 26px;
  }
  .form-hero p {
    margin-bottom: 50px;
  }
  input,
  select,
  select option,
  textarea,
  .form-control {
    font-size: 18px;
    line-height: 30px;
    height: 36px;
  }
  .form-text {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .field-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
  }
  input[type="submit"] {
    padding: 16px 50px;
    margin: 70px auto 0;
  }
  .error-text {
    bottom: -30px;
  }
}
@media( max-width: 870px ) {
  /*=====================================================
  FORM: MOBILE
  =====================================================*/
  .form-row {
    flex-direction: column;
  }
  .label {
    line-height: 15px;
    margin-bottom: 6px;
    position: relative;
    text-transform: uppercase;
  }
  p.label {
    margin-bottom: 20px;
  }
  .form-hero p {
    margin-bottom: 30px;
  }
  .input-group {
    max-width: 100%;
  }
  .form-text {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .field-description {
    margin-bottom: 30px;
  }
  .error-text {
    bottom: -24px;
  }
  input[type="submit"] {
    padding: 16px 50px;
    margin: 50px auto 0;
    width: 100%;
  }
  .btn {
    width: 100%;
  }
}
@media( max-width: 580px ) {
  .form {
    padding: 60px 30px;
    margin-bottom: 40px;
  }
  .label {
    text-align: left;
  }
  .button-group {
    flex-direction: column; 
  }
  input[type="submit"] {
    padding: 10px 50px;
    margin: 40px auto 0;
  }
}
@media( max-width: 400px ) {
  .error-text {
    position: unset;
  }
}
