/*=====================================================
RESET
=====================================================*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
  overflow-x: hidden;
}

h1 { 
  font-size: 73px; 
  font-weight: 700;
  line-height: 79.5px;
  margin-bottom: 80px;
}

p {
  margin-bottom: 1.5rem;
}




/*=====================================================
  UI ELEMENTS
=====================================================*/
.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 2rem;
}

button:hover { cursor: pointer; }



/*=====================================================
  HEADER
=====================================================*/
.main-header {
  padding: 143px 0 0;
  margin-bottom: 96px;
}
.main-header img {
  max-width: 369px;
}


/*=====================================================
  HERO
=====================================================*/
.hero {
  margin-bottom: 150px;
}
.hero p {
  font-size: 34px;
}
.hero p:not(:last-child) {
  margin-bottom: 60px;
}


/*=====================================================
  FORMS
=====================================================*/
.form {
  border: 2px solid white;
  padding: 2rem;
  border-radius: 54px;
  margin-bottom: 4rem;
}

.form-row {
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;
}
.form-row .input-group {
  width: 100%;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.label {
  margin-bottom: .5rem;
}
.radio-badge {
  background-color: #fff;
  margin-right: 1rem;
  border-radius: 200px;
  padding: 3px 6px;
  width: 50%;
  border: 1px solid #333;
}

.radio-group {
  height: 100%;
  display: flex;
  align-items: center;
}
.radio-group label {
  margin-right: 1rem;
}

input,
select,
textarea,
.form-control {
  padding: .5rem;
}

.form-control.invalid {
  border: 1px solid red;
  background-color: pink;
}

.error-text {
  text-align: center;
  margin-top: .5rem;
}

.success-text {
  text-align: center;

}